#space {
  display: flex;
  justify-content: space-between;
}
html, body, div {
  font-family: 'Karla', sans-serif;
  font-size: 13pt;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}


.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 210px;
  height: 45px;
  font-family: 'Karla', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #1A936F;
  border: none;
  border-radius: 35px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  }

.btn:hover {
  background-color: #16795B;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
}


thead tr:first-child {
  background: #1A936F;
  color: white;
  border: none;
  padding: 0 15px 0 20px;
}

th:first-child,
td:first-child {
  padding: 10px 15px 10px 20px;
}

th {
  font-weight: 500;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 60%;
  border-spacing: 0;
  border: 2px solid #1A936F;
  border-radius: .25re
}
td, th {
  border: 1px solid;
  text-align: left;
  padding: 8px;
}
tr: nth-child(even) {
  bacground-color: lightgreen;
}
tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
}
