#space {
  display: flex;
  justify-content: space-between;
}
html, body, div {
  font-family: monospace;
  font-size: 12pt;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
table {
  border-collapse: collapse;
  width: 95%;
}
td, th {
  border: 1px solid;
  text-align: left;
  padding: 8px;
}
tr: nth-child(even) {
  bacground-color: lightgreen;
}
