#space {
  display: flex;
  justify-content: space-between;
}

body, html, div{
  font-family: 'Karla', sans-serif;
  font-size: 13pt;
}

.btn {
  width: 110px;
  height: 45px;
  font-family: 'Karla', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #1A936F;
  border: none;
  border-radius: 35px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  }
