#space {
  display: flex;
  justify-content: space-between;
}

html, body, div {
  font-family: 'Karla', sans-serif;
  font-size: 13pt;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.daybtn {
  height: 20px;
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #777;
  background-color: #eee;
  align-items: center;
  cursor: pointer;
  border: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  }

.daybtn :active{
  padding: 5px;
  background: #1A936F;
  color: white !important
}
.btn {
  width: 210px;
  height: 45px;
  font-family: 'Karla', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #1A936F;
  border: none;
  border-radius: 35px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  }

.btn:hover {
  background-color: #16795B;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: 'Karla', sans-serif;}

.month {
    padding: 50px 25px;
    width: 60%;
    margin: auto;
    background: #1A936F;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    width: 60%;
    margin: auto;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    width: 60%;
    margin: auto;
    padding: 10px 0;
    background: #eee;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1A936F;
    color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

a.header:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a.header:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a.header:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a.header:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
