html, body, div {
font-family: 'Karla', sans-serif;
  font-size: 13pt;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

#space {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: 'Karla', sans-serif;
  color: #595959;
  text-align: center;
}
h2 {
  font-size: 18px;
  font-family: 'Karla', sans-serif;
  color: #595959;
  text-align: center;
}

h3 {
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  color: #595959;
  text-align: center;
}

a.header:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a.header:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a.header:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a.header:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
