<!DOCTYPE html>
<html>
<head>
  <title> Dashboard </title>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link rel="stylesheet" href="../css/dashboard.css">
</head
<header>
  <div style="background-color: #1A936F; color: white; padding: 20px;">
    <div id="space">
      <span><b>Dashboard</b></span>
      <span><a class="header" href="/">Sign Out </a>Sign Out </a>&nbsp; &nbsp; <a class="header" href="https://www.when2meet.com/?About">About</a></span>
    </div>
  </div>
</header>
<body>
  <br>
  <br>
  <div class="wrap">
  <a href = "/new_event"> <button class="btn">Create a New Event</button></a>
  </div>
  <br>
  <br>
  <div class="wrap" style="padding: 20px">
  <table>
    <thead>
      <tr>
        <th id="table-title" colspan="2">Your When2Meets</th>
      </tr>
    <tr>
      <th><b>Event Name</b></th>
      <th><b>Event Dates</b></th>
    </tr>
  </thead>
    <tbody>
    <tr>
      <td>CS Club Github Workshop</td>
      <td> September 5, 2018 - September 15, 2018</td>
    </tr>
    <tr>
      <td>Rice Pre-Med Society - Exec Meeting</td>
      <td> October 12, 2018 - October 18, 2018</td>
    </tr>
    <tr>
      <td>Coffee House Hiring Interview</td>
      <td> January 3, 2018 - January 6, 2018</td>
    </tr>
    <tr>
      <td>Spring Hackathon</td>
      <td> March 21, 2019 - April 9, 2018</td>
    </tr>
  </tbody>
  </table>
  </div>
</body>
</html>
