<!DOCTYPE html>
<html>
<head>
  <title> When2Meet </title>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link rel="stylesheet" href="../css/group_availability.css">
</head>
<header>
  <div style="background-color: #1A936F; color: white; padding: 20px;">
    <div id="space">
      <span>Group Availability</span>
      <span><a class="header" href="/">Sign Out </a> &nbsp; &nbsp; <a class="header" href="https://www.when2meet.com/?About">About</a></span>
    </div>
  </div>
</header>
<body>
  <h1> Group availability </h1>
</body>
</html>
