<!DOCTYPE html>
<html>
<head>
  <title> When2Meet </title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link rel="stylesheet" href="../css/group_availability.css">
</head>
<header>
  <div style="background-color: #1A936F; color: white; padding: 20px;">
    <div id="space">
      <span>Group Availability</span>
      <span>Sign Out &nbsp; &nbsp; About</span>
    </div>
      <!-- <p align="left";> Homepage <p align="right";> About </p></p> -->
  </div>
</header>
<body>
  <h1> Group availability </h1>
</body>
</html>
