<!DOCTYPE html>
<html>
<head>
  <title> When2Meet </title>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link rel="stylesheet" href="../css/group_availability.css">
</head>
<header>
  <div style="background-color: #1A936F; color: white; padding: 20px;">
    <div id="space">
      <span>Group Availability</span>
      <span><a class="header" href="/">Sign Out </a> &nbsp; &nbsp; <a class="header" href="https://www.when2meet.com/?About">About</a></span>
    </div>
  </div>
</header>
<body>
  <h1>  </h1>
  <h3> Time Zone </h3>
  <p style="font-size: 17px; color: #595959; text-align: center;"><select name="Timezones" style="border-radius: 5px">
    <option value=0>Eastern Time</option>
    <option selected value=1> Central Time</option>
    <option value=2> Mountain Time </option>
    <option value=3> Pacific Time </option>
  </select></p>
  <div id="space">
  <span id="available"> 1/5 Available </br></br></br>
    Esther Plants
  </span>
  <img src= "../css/images/when2meet.png" alt="sample schedule" style="height: 40%; width: 40%; margin-left: 100px;">
  <span id="filter"> View by number of people:
    <p style="font-size: 17px; color: #595959; text-align: center;"><select name="numpeople" style="border-radius: 5px">
      <option value=0>1</option>
      <option value=1>2</option>
      <option value=2>3</option>
      <option value=3>4</option>
      <option value=3>5</option>
    </select></p>
  </span>
  </div>
  <a href = "/personal"> <button class="btn" style="justify-content: center;">Edit My Availability</button></a>
</br>
</br>


</body>
</html>
