<!DOCTYPE html>
<html>
<head>
  <title> When2Meet </title>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link rel="stylesheet" href="../css/homepage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />

</head>
<header>
  <div style="background-color: #1A936F; color: white; padding: 20px;">
    <div id="space">
      <span><b>Home</b></span>
      <span><u>About</u></span>
    </div>
  </div>
</header>
<br>
<br>
<div class="ui raised very padded center aligned text container segment">
  <h1 class="ui header">When2Meet</h1>
  <br>
  <div class="field">
   <div class="ui left icon input">
  <i class="mail outline icon"></i>
    <input type="email" name="email" placeholder="Email Address" autofocus="true">
  </div></div>
<br>
    <div class="field">
  <div class="ui left icon input">
<i class="lock icon"></i>
    <input type="password" name="password" placeholder="Password">
  </div></div>
<br>

  <div class="actions">
    <a href = "dashboard.html"> <button class="btn">Sign In</button></a>
  </div>
  <br>
  <a href="#"> Forgot password </a>
  <br>
  <p>Don't have an account? <a href="#"> Sign up </a>
</div>
</html>
