<!DOCTYPE html>
<html>
<head>
  <title> When2Meet </title>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link rel="stylesheet" href="../css/personal_availability.css">
</head>
<header>
  <div style="background-color: #1A936F; color: white; padding: 20px;">
    <div id="space">
      <span>Personal Availability</span>
      <span><a class="header" href="/">Sign Out </a>&nbsp; &nbsp; <a class="header" href="https://www.when2meet.com/?About">About</a></span>
    </div>
  </div>
</header>
<body>
  <h1> New Event </h1>
  <h2> Click or drag on the range of times you are available.</h2>
  <h2> Press the save button once you are done.</h2>
  <h3> Time Zone </h3>
  <p style="font-size: 17px; color: #595959; text-align: center;"><select name="Timezones" style="border-radius: 5px">
    <option value=0>Eastern Time</option>
    <option selected value=1> Central Time</option>
    <option value=2> Mountain Time </option>
    <option value=3> Pacific Time </option>
  </select></p>
</body>
</html>
