<!DOCTYPE html>
<html>
<head>
  <title> When2Meet </title>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link rel="stylesheet" href="../css/personal_availability.css">
</head>
<header>
  <div style="background-color: #1A936F; color: white; padding: 20px;">
    <div id="space">
      <span>Personal Availability</span>
      <span><a class="header" href="/">Sign Out </a>&nbsp; &nbsp; <a class="header" href="https://www.when2meet.com/?About">About</a></span>
    </div>
  </div>
</header>
<body>
  <h2> Click or drag on the range of times you are available.</h2>
  <h2> Press the save button once you are done.</h2>
  <h3> Time Zone </h3>
  <p style="font-size: 17px; color: #595959; text-align: center;"><select name="Timezones" style="border-radius: 5px">
    <option value=0>Eastern Time</option>
    <option selected value=1> Central Time</option>
    <option value=2> Mountain Time </option>
    <option value=3> Pacific Time </option>
  </select></p>
  <table style="width:50%">
    <tr>
      <th>9/16 Sun</th>
      <th>9/17 Mon</th>
      <th>9/18 Tues</th>
      <th>9/19 Wed</th>
      <th>9/20 Thurs</th>
      <th>9/21 Fri</th>
      <th>9/22 Sat</th>
    </tr>
    <tr>
      <td>9 am</td>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <a href = "/group"> <button class="btn" style="justify-content: center; align-items: flex-end;">Save</button></a>
</body>
</html>
